body {
  font-family: 'Fira Sans', 'Gabarito', 'Montserrat', Arial, sans-serif;
  max-width: 700px;
  margin: 40px auto;
  font-size: 18px;
  padding: 20px;
  background-color: #181818;
  color: #e0e0e0;
  line-height: 1.6;
}

a {
  color: #80cbc4;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  padding: 15px;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 30px 0;
}

small {
  color: #999;
  font-size: 14px;
}

blockquote {
  background: #252525;
  padding: 10px;
  border-left: 5px solid #80cbc4;
  font-style: italic;
  color: #bbb;
  margin: 15px 0;
}

/* Button for 'Go Back to Home Page' */
button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  background: #80cbc4;
  color: #181818;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #66a69c;
}

button a {
  color: #181818;
  text-decoration: none;
}

button a:hover {
  text-decoration: none;
}
pre {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 15px;
  border-radius: 6px;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  overflow-x: auto;
  line-height: 1.5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #777;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #222;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #444;
  text-align: left;
}

th {
  background: #252525;
  color: #80cbc4;
  text-transform: uppercase;
}

tr:last-child td {
  border-bottom: none;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #666;
  margin-right: 10px;
}