body {
  font-family: Roboto, Arial, sans-serif, monospace;
  max-width: 800px;
  margin: 0 auto;
  font-size: 24px;
  padding: 20px;
  background-color: white;
  color: black;
}

a {
  color: blue;
}

button {
  background-color: orange;
  border: none;
  padding: 4px;
  border-radius: 4px;
  transition:cubic-bezier(1, 0, 0, 1);
  transition-duration: 400ms;
}

button a {
  color: black;
  text-decoration: none;
}

button:hover {
  font-size: 16px;
  transition:cubic-bezier(1, 0, 0, 1);
  transition-duration: 400ms;
}
